* {
  font-family: FontAwesome, monospace;
  font-size: 13px; /* 10-12 is sweet spot */
}

window#waybar {
  background: #1A013B;
  color: #cdd6f4;
}

/* Modules */
#clock,
#battery,
#network,
#pulseaudio,
#custom-caffeine {
  padding: 0 6px;
  font-weight: bold;
}

/* Workspaces */
#workspaces button {
  padding: 2px 5px;
  margin: 2px;
  border-radius: 0px;
  background: transparent;
  color: #cdd6f4;
  border-bottom: 2px solid transparent;
}

/* Focused workspace */
#workspaces button.focused {
  background: transparent;
  font-weight: bold;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

/* Hover */
#workspaces button:hover {
  background: #313244;
}

/* Urgent */
#workspaces button.urgent {
  background: #f38ba8;
}

/* Add workspace button */
#custom-add_workspace {
  font-weight: bold;
  padding: 0 6px;
}

/* Caffeine styling */
#custom-caffeine {
  padding: 0 10px;
}



